
// The background colour of the web app.
$background: white;
// The button background colour.
$button-background: rgb(0, 153, 255);
// The button background colour when the button is active.
$button-background-active:   rgb(0, 115, 191);
// The button background colour when the button is selected.
$button-background-selected:   rgb(0, 115, 191);
