<nav class="o-pad">
  <button class="o-pad__button o-pad__button--up" (click)="up()">
    <img src="assets/images/icons/navigation/up.svg" />
  </button>

  <button class="o-pad__button o-pad__button--right" (click)="right()">
    <img src="assets/images/icons/navigation/right.svg" />
  </button>

  <button class="o-pad__button o-pad__button--left" (click)="left()">
    <img src="assets/images/icons/navigation/left.svg" />
  </button>

  <button class="o-pad__button o-pad__button--down" (click)="down()">
    <img src="assets/images/icons/navigation/down.svg" />
  </button>

  <button class="o-pad__button o-pad__button--centre" (click)="center()">OK</button>
</nav>