@import '../../styles/mixins';

.title-bar {
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: solid 0.0625rem rgba(0, 0, 0, 0.6);
  display: flex;
  gap: 0.5rem;
  height: 5rem;
  justify-content: flex-start;
  padding: 0.5rem;
  width: 100%;

  &__button--power {
    @include clear-button-styling;
    height: 4.5rem;
    width: 4.5rem;
    padding: 0.5rem;

    &__icon {
      height: 100%;
      width: 100%;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &__divider {
    border-right: solid white 0.0625rem;
    height: 85%;
  }

  &__room-name {
    flex: 1;
    font-size: 2.8rem;
    margin-left: 0.5rem;
  }

  &__weather {
    height: 100%;
  }
}