<nav class="d-pad">
  <div class="d-pad__corner--top-left"></div>
  <button class="d-pad__button" (click)="up()">
    <img src="assets/images/icons/navigation/up.svg" />
  </button>
  <div class="d-pad__corner--top-right"></div>
  <button class="d-pad__button" (click)="left()">
    <img src="assets/images/icons/navigation/left.svg" />
  </button>
  <button class="d-pad__button d-pad__button--centre" (click)="center()"></button>
  <button class="d-pad__button" (click)="right()">
    <img src="assets/images/icons/navigation/right.svg" />
  </button>
  <div class="d-pad__corner--bottom-left"></div>
  <button class="d-pad__button" (click)="down()">
    <img src="assets/images/icons/navigation/down.svg" />
  </button>
  <div class="d-pad__corner--bottom-right"></div>
</nav>