

.control-container {
  height: 90%;

  text-align: center;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: rgba(0, 0, 0, 0.2);

  border-radius: 1rem;
  padding: 1.5rem;

  .source-title {
    font-size: 2rem;
  }

  .source-content {
    flex: 1 0 0;

  }
}

app-source-list{
  height: 90%;
}